<%= form_with(model: [@quizo, @contestant], url: quizo_contestants_path(@quizo), class: "form") do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create Contestant', class: "btn btn-primary" %>
  </div>
<% end %>

<p style="color: green; margin-top: 10px;"><%= notice %></p>

<h1>Contestants:</h1>
<div class="card mb-3">
  <% @quizo.contestants.each do |contestant| %>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group mr-1">
          <%= link_to contestant.name, quizo_contestant_quesitions_path(@quizo, contestant), class: "btn mr-1 btn-success btn-oval " %> 
          <%= link_to "Edit", edit_quizo_contestant_path(@quizo, contestant), class: "btn mr-1 btn-warning btn-oval" %>
        </div>
        <%= button_to "Remove", remove_contestant_quizo_path(@quizo, contestant), method: :delete, data: { confirm: 'Are you sure you want to remove this contestant?' }, class: "btn btn-danger btn-oval" %>
      </div>
    </div>
  <% end %>
</div>



<%= link_to 'View Leaderboard', quizo_leaderboard_path(@quizo), class: "btn btn-primary mt-4" %>
