<div id="<%= dom_id quesition %>">
  <p>
    <strong>Quizo:</strong>
    <%= quesition.quizo_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= quesition.content %>
  </p>

  <p>
    <strong>Answer1:</strong>
    <%= quesition.answer1 %>
  </p>

  <p>
    <strong>Answer2:</strong>
    <%= quesition.answer2 %>
  </p>

  <p>
    <strong>Answer3:</strong>
    <%= quesition.answer3 %>
  </p>

  <p>
    <strong>Answer4:</strong>
    <%= quesition.answer4 %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= quesition.correct_answer %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= quesition.image %>
  </p>

</div>
